.exceeded {
	color: #f00;
}

.wow {
	font-size:30px;
	display:inline;
	font-family: "Comic Sans", "Comic Sans MS", "Chalkboard", "ChalkboardSE-Regular", sans-serif;
}

.page-header{
	text-align:center;
}

@media only screen and (min-width : 992px) {
	.form-group{
		margin-left:auto;
		margin-right:auto;
		width:80%;
	}
	.muchoutput {
		width:80%;
		margin:auto;
	}
}

@media only screen and (max-height : 350px) {
	.page-header {
		margin-top:0px;
		margin-bottom: 0px;
		
	}
	h3 {
		margin-top: 10px;
		font-size: 18px;
	}
}

.dogeNavBar {
	bottom:0px;
	right:0px;
	position:absolute;
	margin-right:0;
}

.suchDialog{
	width:450px;
	max-width:95%;
}

#aboutDogeLink {
	/*text-decoration:underline;*/
}

.manyios textarea {
	font-size: 16px;
}


/* such hack. do not want. */
.navbar-collapse.collapse {
display: block!important;
}

.navbar-nav>li, .navbar-nav {
float: left !important;
border-left: solid 1px #e7e7e7;
}

.navbar-nav.navbar-right:last-child {
margin-right: -15px !important;
}

.navbar-right {
float: right!important;
}

body {
  padding-right: 0px !important
}

.modal-open {
  overflow-y: auto;
}
