.exceeded {
	color: #f00;
}

.wow {
	font-size:30px;
	display:inline;
	font-family: "Comic Sans", "Comic Sans MS", "Chalkboard", "ChalkboardSE-Regular", sans-serif;
}

.page-header{
	text-align:center;
}

.form-group{
	margin-left:auto;
	margin-right:auto;
	width:80%;
}