{% extends "template.html" %}


{% block body %}
	<div class="page-header">
		<h1>
			Text Dogefication Complete!
		</h1>
	</div>
	<h3>
		Original Text:
	</h3>
	<h4>
		{{ result[0] }}
	</h4>	
	<h3>
		Dogeified Text:
	</h3>
	<h4>
		{{ result[1] }}
	</h4>	
	
	
	<div class="page-header">
		<h3>
			Enter more text to Dogeify:
		</h3>
	</div>	
	
	
	
	<form role="form" action="/dogeify" method="GET">
		<div class="form-group">
	 <label>Text:</label><input class="form-control" id="userText" name="userText" type="text" placeholder="So wow.">
	 <br/>
	 <button class="btn btn-success" type="submit">Dogeify!</button>
	 <br/>			 
	</div>		
	</form>	
	
	
	

{% endblock %}
	
	
	