{% extends "template.html" %}


{% block body %}
	<div class="page-header">
		<h1>
			Text Dogefication Complete!
		</h1>
	</div>

	<form role="form" action="/dogeify" method="GET">
		<div class="form-group">
	 <label>Text:</label><textarea class="form-control" id="userText" name="userText" type="text" placeholder="So wow." rows="5">{{ result[0] }}</textarea>
	 <br/>
	 <button id="submitDoge" class="btn btn-success" type="submit">Dogeify!</button>
	 <br/>			 
	</div>		
	</form>	
	
	<h3>
		Dogeified Text:
	</h3>
	<h4>
		{% for dogePair in result[1] %}
			<div class="wow" style=" color:{{ dogePair[1] }}">{{ dogePair[0] }}</div>
		{% endfor %}
	</h4>	
	
	<script type="text/javascript" src="static/js/jquery.charactercounter.js"></script>
	<script>
		$(function(){
	            $("#userText").characterCounter({
			limit:1000, 
	            	counterFormat: '%1 characters remaining',
			onExceed: function(){$('#submitDoge').attr('disabled', 'disabled');},
			onDeceed: function(){$('#submitDoge').removeAttr('disabled');}
		    });
		});	
	</script>
	

{% endblock %}
	
	
	
