{% extends "template.html" %}


{% block body %}
			<div class="page-header">
				<h3>
					Enter text to dogeify: <small></small>
				</h3>
			</div>
			<!-- <form role="form" action="/dogeify" method="GET"> -->
				<div class="form-group">
					 <textarea class="form-control" id="userTextArea" name="userText" type="text" placeholder="So wow." rows="4">{{ result[0] }}</textarea>
					 <br/>
					 <button id="submitDoge" class="btn btn-success dogeifyButton">Dogeify!</button>
					 <br/>
				</div>
			<!-- </form> -->
			{% if getMode %}
				<h3 id="dogeTextTitle2">
					Dogeified Text:
				</h3>
			{% endif %}
			<a name="output"></a>
			<h3 id="dogeTextTitle" style="display: none">
				Dogeified Text:
			</h3>
			<h4 id="getResponse"></h4>
			{% if getMode %}
				<h4 id="getModeDisplay">
					{% for dogePair in result[1] %}
						<div class="wow" style=" color:{{ dogePair[1] }}">{{ dogePair[0] }}</div>
					{% endfor %}
				</h4>
			{% endif %}
        <script>
        $(function(){
		    // Update the textarea if the user scrubs through browser history
		    window.addEventListener("popstate", function(e) {
				var newText = window.get("userText")
				var blankInputSuffix = "dogeify?userText="
		        $('#userTextArea').val(newText)
				if (newText == null) {
					$('#getResponse').html("")
				} else {
		          doDogeAjax($('#userTextArea').val())
				}
		    });

		    //init Character counter
            $("#userTextArea").characterCounter({
                        limit:2000,
                        counterFormat: '%1 characters remaining',
                        onExceed: function(){$('#submitDoge').attr('disabled', 'disabled');},
                        onDeceed: function(){$('#submitDoge').removeAttr('disabled');}
            });
			$('.dogeifyButton').click(function() {
				  doDogeAjax($('#userTextArea').val())
				  history.pushState(null, null, "dogeify?userText=" + encodeURIComponent($('#userTextArea').val()))
			});
		});
        </script>
{% endblock %}
