{% extends "template.html" %}


{% block body %}
			<div class="page-header">
				<h1>
					Enter text to dogeify: <small></small>
				</h1>
			</div>
			<form role="form" action="/dogeify" method="GET">
				<div class="form-group">
					 <label>Text:</label><textarea class="form-control" id="userText" name="userText" type="text" placeholder="So wow." rows="5"></textarea>
					 <br/>
					 <button class="btn btn-success" type="submit">Dogeify!</button>
					 <br/>
				</div>
			</form>
{% endblock %}
