<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Dogeify</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

	<!--link rel="stylesheet/less" href="less/bootstrap.less" type="text/css" /-->
	<!--link rel="stylesheet/less" href="less/responsive.less" type="text/css" /-->
	<!--script src="js/less-1.3.3.min.js"></script-->
	<!--append ‘#!watch’ to the browser URL, then refresh the page. -->
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

	<link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
  <![endif]-->

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon" sizes="57x57" href="/static/img/apple-touch-icon-57x57.png?v=wow">
  <link rel="apple-touch-icon" sizes="60x60" href="/static/img/apple-touch-icon-60x60.png?v=wow">
  <link rel="apple-touch-icon" sizes="72x72" href="/static/img/apple-touch-icon-72x72.png?v=wow">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/img/apple-touch-icon-76x76.png?v=wow">
  <link rel="apple-touch-icon" sizes="114x114" href="/static/img/apple-touch-icon-114x114.png?v=wow">
  <link rel="apple-touch-icon" sizes="120x120" href="/static/img/apple-touch-icon-120x120.png?v=wow">
  <link rel="apple-touch-icon" sizes="144x144" href="/static/img/apple-touch-icon-144x144.png?v=wow">
  <link rel="apple-touch-icon" sizes="152x152" href="/static/img/apple-touch-icon-152x152.png?v=wow">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon-180x180.png?v=wow">
  <link rel="icon" type="image/png" href="/static/img/favicon-32x32.png?v=wow" sizes="32x32">
  <link rel="icon" type="image/png" href="/static/img/android-chrome-192x192.png?v=wow" sizes="192x192">
  <link rel="icon" type="image/png" href="/static/img/favicon-96x96.png?v=wow" sizes="96x96">
  <link rel="icon" type="image/png" href="/static/img/favicon-16x16.png?v=wow" sizes="16x16">
  <link rel="manifest" href="/static/img/manifest.json?v=wow">
  <link rel="shortcut icon" href="/static/img/favicon.ico?v=wow">
  <meta name="apple-mobile-web-app-title" content="Dogeify">
  <meta name="application-name" content="Dogeify">
  <meta name="msapplication-TileColor" content="#ffc40d">
  <meta name="msapplication-TileImage" content="/static/img/mstile-144x144.png?v=wow">
  <meta name="msapplication-config" content="/static/img/browserconfig.xml?v=wow">
  <meta name="theme-color" content="#ffffff">
  
  
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='js/scripts.js') }}"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-65586209-1', 'auto');
  ga('send', 'pageview');

</script>

</head>

<body>

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					 <a class="navbar-brand" href="/">Dogeify</a>
				</div>
				<ul class="nav navbar-nav navbar-right aboutbutton">
				        <li><a href="#" id="aboutDogeLink" data-toggle="modal" data-target="#aboutDogeModal">About</a></li>
				</ul>
				
				<div class="modal fade" id="aboutDogeModal" role="dialog">
				    <div class="modal-dialog suchDialog">
				      <div class="modal-content">
				        <div class="modal-header">
				          <button type="button" class="close" data-dismiss="modal">&times;</button>
				          <h4 class="modal-title">About Dogeify</h4>
				        </div>
						<div class="modal-body center" style="text-align:center"><center>
							<h4>dogeify any text! wow, very utility!</h4>
							<p>by <a href="https://github.com/cloudcrypt">Daniel Dogestoor</a>
								 and <a href="http://thisishughyoung.com">Hugh Young.</a></p>
							<p>such <a href="https://github.com/cloudcrypt/dogeify">Github</a>. do want.</p>
						</center></div>
				        <div class="modal-footer">
				          <button type="button" class="btn btn-primary" data-dismiss="modal">wow</button>
				        </div>
				      </div>
				    </div>
				  </div>				
				
			</nav>
			
{% if flashType != "" %}
		{% with messages = get_flashed_messages() %}
		  {% if messages %}
			<div class="alert alert-{{ flashType }} alert-dismissible fade in" role="alert">
			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			{% for message in messages %}
			  <strong>{{ message }}</strong>
			{% endfor %}
			</div>
		  {% endif %}
		{% endwith %}
{% else %}
		{% with messages = get_flashed_messages() %}
		  {% if messages %}
			<div class="alert alert-danger alert-dismissible fade in" role="alert">
			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			{% for message in messages %}
			  <strong>{{ message }}</strong>
			{% endfor %}
			</div>
		  {% endif %}
		{% endwith %}
{% endif %}
<!--			
			<div class="alert alert-danger alert-dismissable">
				 <button class="close" aria-hidden="true" type="button" data-dismiss="alert">×</button>
				<h4>
					Error!
				</h4> <strong>Warning!</strong> Input error. <a class="alert-link" href="#">alert link</a> 
			</div> -->
 

			{% block body %}
			{% endblock %}
			
			
		</div>
	</div>
</div>
</body>
<script>
jQuery('ul.nav li.dropdown').hover(function() {
  jQuery(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn();
}, function() {
  jQuery(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut();
});
</script>


</html>
